.count-down {
  color:  #034149;
  display: flex;
  .box {
    margin: 0 8px;

    div:last-child {
      display: flex;
      justify-content: center;
      font-size: 18px;
      margin-top: 12px;
    }
  }

  .time-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    color: #5c5050;
    font-size: 30px;
  }
}
